{
    "extends": ["eslint:recommended"],
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "env": {
        "es6": true,
        "node": true
    },
    "ignorePatterns": ["dist"],
    "overrides": [
        {
            "files": ["**/*.ts"],
            "parser": "@typescript-eslint/parser",
            "plugins": ["@typescript-eslint"],
            "extends": [
                "plugin:@typescript-eslint/eslint-recommended",
                "plugin:@typescript-eslint/recommended"
            ],
            "rules":{
                "no-useless-escape":"off"
            }
        }
    ]
}